<footer class="container-fluid p-5 bg-dark text-white text-center">
    <div>
        <h1>Contacto Fuerza Aérea Argentina</h1>
        <br>
        <br>
        <i class='fas fa-street-view' style='font-size:24px'>   Pedro Zanni 250 - Caba - Argentina</i>
        <br>
        <br>
        <i class='fas fa-phone' style='font-size:24px;color:white'>   +54 11 4317-6000</i>
        <br>
        <br>
        <i class='far fa-envelope-open' style='font-size:24px'>   consultas@faa.mil.ar</i>
        <br>
        <br>

        <a href="https://twitter.com/fuerzaaerea_arg" class="fa fa-twitter"></a>
        <a href="https://www.facebook.com/FuerzaAereaArgentina.Oficial" class="fa fa-facebook"></a>
        <a href="https://www.youtube.com/c/FuerzaAereaArg" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/fuerzaaerea_arg/" class="fa fa-instagram"></a>
    <br>
    <br>
    </div>
    <p>&copy: 2022 - Desarrollado por Dante Stringa</p>
</footer>