<div class="container">
    <div class="text-center m-5">
        <hr>
            <h1>
                {{titulo}}
            </h1>
        <hr>
    </div>
</div>

<div class="container">
    <h3>
        El email ha sido enviado teniendo en cuenta los siguientes datos: 
    </h3>

    <ul>
            <li>
                <p> <strong>Nombre: </strong>{{nombre}}</p>
            </li>
            <li>
                <p> <strong>Apellido: </strong>{{apellido}}</p>
            </li>
            <li>
                <p> <strong>Correo: </strong>{{email}}</p>
            </li>
    </ul>
</div>
    <br>