<div class="container">
    <div class="text-center m-5">
        <hr>
            <h1>
                {{titulo}}
            </h1>
        <hr>
    </div>
</div>

<div class="container">
    <h3>
        El formulario ha sido completado teniendo en cuenta los siguientes datos: 
    </h3>

    <ul>
            <li>
                <p> <strong>Nombre: </strong>{{nombre}}</p>
            </li>
            <li>
                <p> <strong>Apellido: </strong>{{apellido}}</p>
            </li>
            <li>
                <p> <strong>DNI: </strong>{{dni}}</p>
            </li>
    </ul>
    <br>
    <p>Recuerde que para ingresar al evento, debe establecer sus datos correctamente ya que se requeriran para el ingreso.</p>
</div>
<br>